html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.item {
  width: 500px;
  height: 300px;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100vw;
  color: white;
  font-size: 5rem;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
}

/* img,
h1 {
  transform: translateX(100vw);
  opacity: 0;
} */
